.ipynb_checkpoints
*.csv
*.gexf
*.ipynb
!data_viz_covid_one_page_v0.ipynb

*.png
!screenshot_graph.png
!venn_diagram_facebook_groups_28_04_2020.png

__pycache__/*

*.json
!climate_28_04_2020.json
!global_28_04_2020.json
!COVID-19_28_04_2020.json
!COVID-19_15_05_2020.json
!COVID-19_20_05_2020.json
!BUNDLE\ -\ Plandemic1.json
