.ipynb_checkpoints
*.csv
*.gexf
*.ipynb

*.png
!screenshot_graph.png
!venn_diagram_facebook_groups_28_04_2020.png

__pycache__/*

*.json
!climate_28_04_2020.json
!global_28_04_2020.json
!COVID-19_28_04_2020.json

